<app-info-panel id="appinfo-panel" class="neocom-panel"></app-info-panel>
<div *ngIf="exception else noexception" class="neocom-panel panel-red panel-margin">
    <div class="panel-type-label">EXCEPTION</div>
    <div class="exception-type">{{getExceptionType()}}</div>
    <div class="exception-user-message">{{getUserMessage()}}</div>
    <div *ngIf="retryable()" id="retry-button">
        <button class="login-button">RETRY PAGE REQUEST</button>
    </div>
    <div id="login-again-button">
        <a href="getLoginRequest()" class="eve-login-request"><img src="assets/media/eve-sso-login-black-large.png"></a>
    </div>
</div>
<ng-template #noexception>
    <div id="login-again-button">
        <a href="{{getLoginLink()}}">
          <img src="assets/media/eve-sso-login-white-large.png">
            class="eve-login-request"><img src="assets/media/eve-sso-login-black-large.png"></a>
    </div>
</ng-template>
