<div id="{{getUniqueId()}}" class="neocom-panel panel-blue" *ngIf="getVariant() === '-COIL-LIST-'" (click)="selectSystem()">
    <div cy-name="systemName" class="field material-width">
        <span cy-field-label="systemName" class="label">SYSTEM NAME</span><br>
        <span cy-field-value="systemName" class="field-height">{{getSystemName()}}</span>
    </div>
    <div cy-name="at" class="field material-width">
        <span cy-field-label="at" class="label">LOCATION</span><br>
        <span cy-field-value="at" class="field-height">{{getLocation()}}</span>
    </div>
    <div cy-name="security" class="field material-width">
        <span cy-field-label="security" class="label">SECURITY</span><br>
        <span cy-field-value="security" class="field-height">{{getSecurity()}}</span>
    </div>
    <div cy-name="planetCount" class="field material-width">
        <span cy-field-label="planetCount" class="label">PLANETS</span><br>
        <span cy-field-value="planetCount" class="field-height">{{getPlanetCount()}}</span>
    </div>
</div>