.feature-box {
    min-width: 90px;
    min-height: 80px;
    margin: 30px;
}

.feature-box:hover {
    border-color: blue;
}

.imageContainer {
    font-size: 0;
    text-align: center;
    width: 200px;
    /* Container's dimensions */
    height: 150px;
}

img {
    display: inline-block;
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
}

.imageContainer:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 150px;
}