<!-- L O Y A L T Y -->
<div *ngIf="getVariant() === '-LOYALTY-'" class=" pilot ">
    <div id="{{getUniqueId()}} " *ngIf="node " class="row panel-green" [ngClass]="{'selected-green' : isSelected()}">
        <img class="neocom-icon iconsize-40 " src="{{getCorporationIcon()}} ">
        <div class="row ">
            <div class="field ">
                <span cy-field-label="pilotName " class="label invisible ">NAME</span><br>
                <span cy-field-value="pilotName " class="corporation-name ">{{getNode().name}}</span>
            </div>
        </div>
    </div>
</div>