.section-title {
    font-size: 15px;
    color: #fce8cc;
}
.planet-name {
    font-size: 14px;
    font-weight: 600;
}
.planet-class {
    margin-left: 4px;
    font-size: 13px;
    font-weight: 600;
    color: grey;
}
