.section-title {
    font-size: 13px;
    color: #fce8cc;
}
.planet-name {
    font-size: 14px;
    font-weight: 600;
}
.planet-class {
    font-size: 13px;
    font-weight: 600;
    color: grey;
}
.insets{
    margin: 4px;
}.label {
    font-size: 8px;
    font-weight: 100;
    text-transform: uppercase;
    margin-right: 0px;
}