@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import "./styles/_scss_variables.scss";
@import "./styles/global-styles.scss";
@import "./styles/panel-styles.scss";
@import "./styles/neocom-styles.scss";
@import "./styles/render-styles.scss";
body {
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 1.0;
    margin: 2px;
}