.neocom-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

// - R I G H T   A R R O W   S E C T I O N

/* Defines the cursor and aligment for the arrow container. Used mostly for the cursor. */

.neocom-arrow-box {
    cursor: pointer;
    vertical-align: middle;
}


/* Effect style to blur the arrow and remove artifacts. Applied ever to the arror image. */

// .neocom-arrow {
//     filter: blur(1px);
// }

/* Transformation to change the arrow when expansion is active. */

.neocom-arrow {
    transform: rotate(0deg);
    transition: transform 0.5s linear;
}

.neocom-arrow.open {
    transform: rotate(0deg);
    transition: transform 0.5s linear;
}

.neocom-arrow-expanded {
    transform: rotate(90deg);
    transition: transform 0.5s linear;
}

.neocom-arrow-expanded.open {
    transform: rotate(90deg);
    transition: transform 0.5s linear;
}