@import "../../../../../styles/_scss_variables.scss";
@import "../../../../../styles/panel-styles.scss";
.resource-name-width {
    width: 150px;
}

.line-centered {
    margin-top: auto;
    margin-bottom: auto;
}

.dragable-blue:hover {
    background-color: $panel-blue-20;
    // opacity: $panel-hover-opacity;
    transition: background-color $change-time;
}