<p>v1-top-bompanel works!</p>



<div> SELECTED BLUEPRINT
    <v1-blueprint></v1-blueprint>
    BILL OF MATERIALS
    <neocom-viewer-panel [nodes2render]="getNodes2Render()" [downloadtitle]="'Generating BOM for blueprint...'" [downloader]="self" [variant]="getVariant()">
    </neocom-viewer-panel>



    <!-- <div class="resource-type">PRECURSORS</div>
    <div class="neocom-panel panel-red">
        <div class="row">
            <img class="neocom-icon-noborder iconsize-16" src="https://image.eveonline.com/Type/655_64.png">
            <div class="field resource-name-width">
                <span cy-field-label="security" class="label">RESOURCE NAME</span><br>
                <span cy-field-value="resourceName" class="resource-name">Epithal</span>
            </div>
            <div class="field resource-quantity-width">
                <span cy-field-label="security" class="label">QUANTITY</span><br>
                <span cy-field-value="resourceName" class="resource-name right">1</span>
            </div>
            <div class="field resource-level right">
                <span cy-field-label="security" class="label">RESOURCE PRICE</span><br>
                <span cy-field-value="resourceLevel" class="resource-level">1.100.000 ISK</span>
            </div>
        </div>
    </div> -->
    <div class="resource-type">PLANETARY MATERIALS</div>
    <div class="neocom-panel panel-blue">
        <!-- <div> -->
        <div class="row">
            <img class="neocom-icon-noborder iconsize-16" src="https://image.eveonline.com/Type/3828_64.png">
            <div class="field resource-name-width">
                <span cy-field-label="security" class="label">RESOURCE NAME</span><br>
                <span cy-field-value="resourceName" class="resource-name">Construction Blocks</span>
            </div>
            <div class="field resource-quantity-width">
                <span cy-field-label="security" class="label">QUANTITY</span><br>
                <span cy-field-value="resourceName" class="resource-name right">223</span>
            </div>
            <div class="field resource-level right">
                <span cy-field-label="security" class="label">RESOURCE PRICE</span><br>
                <span cy-field-value="resourceLevel" class="resource-level right">6.899 ISK</span>
            </div>
        </div>
        <!-- </div> -->
    </div>
    <div class="resource-type">MINERALS</div>
    <div class="neocom-panel panel-blue">
        <!-- <div> -->
        <div class="row">
            <img class="neocom-icon-noborder iconsize-16" src="https://image.eveonline.com/Type/11399_64.png">
            <div class="field resource-name-width">
                <span cy-field-label="security" class="label">RESOURCE NAME</span><br>
                <span cy-field-value="resourceName" class="resource-name">Morphite</span>
            </div>
            <div class="field resource-quantity-width">
                <span cy-field-label="security" class="label">QUANTITY</span><br>
                <span cy-field-value="resourceName" class="resource-name right">104</span>
            </div>
            <div class="field resource-level right">
                <span cy-field-label="security" class="label">RESOURCE PRICE</span><br>
                <span cy-field-value="resourceLevel" class="resource-level right">52.910 ISK</span>
            </div>
        </div>
        <!-- </div> -->
    </div>
    <div class="resource-type">ADVANCED MOON MATERIALS</div>
    <div class="neocom-panel panel-blue">
        <div class="row">
            <img class="neocom-icon-noborder iconsize-16" src="">
            <div class="field resource-name-width">
                <span cy-field-label="security" class="label">RESOURCE NAME</span><br>
                <!-- <span cy-field-value="resourceName" class="resource-name">Ion Thruster</span> -->
            </div>
            <div class="field resource-quantity-width">
                <span cy-field-label="security" class="label">QUANTITY</span><br>
                <!-- <span cy-field-value="resourceName" class="resource-name right">75</span> -->
            </div>
            <div class="field resource-level right">
                <span cy-field-label="security" class="label">RESOURCE PRICE</span><br>
                <!-- <span cy-field-value="resourceLevel" class="resource-level right">46.290 ISK</span> -->
            </div>
        </div>
        <div class="row">
            <img class="neocom-icon-noborder iconsize-16" src="https://image.eveonline.com/Type/11535_64.png">
            <div class="field resource-name-width line-centered">
                <span cy-field-value="resourceName" class="resource-name">Magnetometric Sensor Cluster</span>
            </div>
            <div class="field resource-quantity-width line-centered">
                <span cy-field-value="resourceName" class="resource-name right">134</span>
            </div>
            <div class="field resource-level right line-centered">
                <span cy-field-value="resourceLevel" class="resource-level right">38.400 ISK</span>
            </div>
        </div>
    </div>
</div>