// .active {
//     background-color: #9553FF;
// }
.tab-selector {
    color: white;
}

.tab-selector:hover {
    color: darkslateblue;
}

.tab-icon {
    width: 32px;
    height: 32px;
}

.tab-name {
    font-family: "Elemental";
    font-size: 13px;
}