<!-- K N O W N   P L A N E T S -->
<div id="{{getUniqueId()}}" class="panel-green" *ngIf="getVariant() === '-KNOWN-PLANETS-'">
    <div class="insets row" draggable [dragData]="node" [dragScope]="'PLANET'" [dragClass]="'planet-selected'">
        <img class="neocom-icon iconsize-60" src="{{getPlanetIcon()}}">
        <div class="separator-4"></div>
        <div class="column" style="width: 100%;">
            <div class="row">
                <div class="field">
                    <span cy-field-label="planetName" class="label">NAME</span>
                    <span cy-field-value="planetName" class="planet-name">{{getPlanetName()}}</span>
                </div>
                <div class="separator-4"></div>
                <div class="field">
                    <span cy-field-label="planetClass" class="label">CLASS</span>
                    <span cy-field-value="planetClass" class="planet-class">[{{getPlanetClass()}}]</span>
                </div>
            </div>
            <div class="column">
                <div *ngIf="node">
                    <div class="row">
                        <div cy-field-label="resourceLevel" class="label">RESOURCE NAME</div>
                        <div cy-field-label="resourceLevel" class="label right">RESOURCE LEVEL</div>
                    </div>
                    <div *ngFor="let resource of getPlanetResources()">
                        <v1-planetary-resource [node]="resource" [variant]="getVariant()"></v1-planetary-resource>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- S E L E C T E D   P L A N E T S -->
<div id="{{getUniqueId()}}" class="panel-yellow" *ngIf="getVariant() === '-SELECTED-PLANETS-'">
    <div class="insets row">
        <img class="neocom-icon iconsize-36" src="{{getPlanetIcon()}}">
        <div class="separator-4"></div>
        <!-- <div class="column" style="width: 100%;"> -->
        <div class="column">
            <div class="field">
                <span cy-field-label="planetName" class="label">NAME</span>
                <span cy-field-value="planetName" class="planet-name">{{getPlanetName()}}</span>
            </div>
            <!-- <div class="separator-4"></div> -->
            <div class="field">
                <span cy-field-label="planetClass" class="label">CLASS</span>
                <span cy-field-value="planetClass" class="planet-class">[{{getPlanetClass()}}]</span>
            </div>
        </div>
        <div class="column">
            <div *ngIf="node">
                <div class="row">
                    <!-- <div cy-field-label="resourceLevel" class="label">RESOURCE NAME</div> -->
                    <!-- <div cy-field-label="resourceLevel" class="label right">RESOURCE LEVEL</div> -->
                </div>
                <div *ngFor="let resource of getPlanetResources()">
                    <!-- <v1-planetary-resource [node]="resource" [variant]="getVariant()"></v1-planetary-resource> -->
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>
</div>