<!-- D E F A U L T   V A R I A N T -->
<div *ngIf="getVariant() === '-DEFAULT-'">
    <div style="display: flex; flex-direction: row; flex-wrap: nowrap;">
        <div>
            <img class="neocom-icon" src="{{getGroupIconReference()}}" id="iconsize-36">
        </div>
        <div style="flex-grow: 85;">
            <span class="neocom-expandable-name" id="neocom-ts20">{{getTitle()}}</span><br>
        </div>
        <div style="text-align: right;">
            <div class="neocom-classname">SHIP GROUP</div>
            <div class="stack-counter">{{getContentsCount()}}</div>
        </div>
    </div>
</div>