<div class="row">
    <app-info-panel id="appinfo-panel" class="neocom-panel app-info-panel"></app-info-panel>
    <server-info-panel id="server-info-panel" class="neocom-panel server-info-panel"></server-info-panel>
</div>
<div *ngIf="exception else dashboardPage">
    <div class="panel row">
        <div>
            <div class="field">
                <span cy-field-label="exceptionTitle" class="label">EXCEPTION</span><br>
            </div>
            <div class="field">
                <span cy-field-label="exceptionTitle" class="label">TITLE</span><br>
                <span cy-field-value="exceptionTitle" class="exception-title">{{exception.title}}</span>
            </div>
            <div class="field">
                <span cy-field-label="exceptionMessage" class="label">MESSAGE</span><br>
                <span cy-field-value="exceptionMessage" class="exception-message">{{exception.message}}</span>
            </div>
        </div>
    </div>
</div>
<ng-template #dashboardPage>
    <div class="column">
        <div class="row">
            <v2-pilot-public-data-panel class="panel" [identifier]="getPilotId()"></v2-pilot-public-data-panel>
        </div>
        <div class="panel column">
            <div class="section-title">FUNCIONALIDADES</div>
            <div class="dock row">
                <v1-feature-button [feature]="features[0]"></v1-feature-button>
                <v1-feature-button [feature]="features[1]"></v1-feature-button>
                <v1-feature-button [feature]="features[2]"></v1-feature-button>
            </div>
        </div>
    </div>
</ng-template>