<div>
    <div class="section neocom-panel panel-blue">
        <!-- START  -->
        <div class="section-title" cy-section-name="Fitting Info">Fitting Info</div>
        <div class="row">
            <div class="neocom-icon iconsize-64" width="64px">
                <img src="{{getHullURLIcon()}}" alt="Fitting Hull Image">
            </div>
            <div class="column">
                <div class="panel-title">{{getFittingName()}}</div>
                <div class="row">
                    <div class="column">
                        <div class="row">
                            <div class="field">
                                <span cy-field-label="shipType" class="label">SHIP</span><br>
                                <span cy-field-value="shipType" class="">{{getHullClass()}}</span>
                                <span cy-field-name="hullType" class="">
                                <span cy-field-value="hullType" class="">[{{getHullTypeId()}}]</span>
                                </span>
                            </div>
                            <div class="separator-4"></div>
                            <div class="field">
                                <span cy-field-label="hullClass" class="label">HULL CLASS</span><br>
                                <span cy-field-value="hullClass" class="hullclass">{{getHullGroup()}}</span>
                            </div>
                        </div>
                        <div class="field">
                            <span cy-field-label="hullTech" class="label">TECH</span><br>
                            <span cy-field-value="hullTech" class="">{{getHullTech()}}</span>
                        </div>
                    </div>
                    <!-- END  -->
                    <div class="separator-4"></div>
                    <div class="separator-4"></div>
                    <!-- MARKET DATA -->
                    <div class="column">
                        <div class="field">
                            <span cy-field-label="sellStation" class="label">STATION</span><br>
                            <span cy-field-value="sellStation" class="station">{{getMarketStation()}}</span>
                        </div>
                        <div class="field">
                            <span cy-field-label="sellPrice" class="label">PRICE</span><br>
                            <span cy-field-value="sellPrice" class="station">{{getHullPrice() | number:'1.2-2'}} ISK</span>
                        </div>
                        <div class="field">
                            <span cy-field-label="hopCount" class="label">HOPS</span><br>
                            <span cy-field-value="hopCount" class="station">{{getHullHops()}} jumps - {{getHullHopTime()}} mins.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section neocom-panel panel-orange">
        <div class="section-title orange-hue" cy-section-name="Fitting Components">Fitting Components</div>
        <div class="fitting-group" cy-name="HIGH-GROUP">
            <div class="group-title" cy-group-name="High Slots">High Slots</div>
            <div *ngFor="let node of getFittingItems('HIGH-GROUP')">
                <v1-fitting-item [node]="node"></v1-fitting-item>
            </div>
        </div>
        <div class="fitting-group" cy-name="MID-GROUP">
            <div class="group-title" cy-group-name="High Slots">Mid Slots</div>
        </div>
        <div class="fitting-group" cy-name="LOW-GROUP">
            <div class="group-title" cy-group-name="High Slots">Low Slots</div>
        </div>
        <div class="fitting-group" cy-name="RIG-GROUP">
            <div class="group-title" cy-group-name="High Slots">Rigs</div>
        </div>
    </div>
</div>