<div cy-section-name="header" class="section row">
    <app-info-panel class="panel neocom-panel app-info-panel"></app-info-panel>
    <server-info-panel class="panel neocom-panel server-info-panel"></server-info-panel>
    <div class="panel panel-white settings-panel">LOGOFF<br>BUTTON</div>
</div>
<div cy-section-name="industry-dashboard" class="section column">
    <div class="row" style="width: 50%">
        <v1-pilot-panel class="panel" [identifier]="getPilotId()" style="width: 100%"></v1-pilot-panel>
    </div>
    <div class="section-title">INDUSTRY</div>
    <div class="dock row">
        <div *ngFor="let feature of features">
            <v1-feature-button [feature]="feature"></v1-feature-button>
        </div>
    </div>
    <div class="section-title"></div>
</div>
