@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

$panel-margin: 2px;
.neocom-panel-container {
    margin: $panel-margin;
}

.spinner-animation {
    animation: spinner 2.0s linear infinite;
    display: block;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
}

.spinner-label {
    color: #B0B0B0;
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
    position: absolute;
    top: 0;
}

.spinner-label-2ndline {
    color: #D0D0D0;
    font-family: 'Prototype';
    font-size: 14px;
    margin-left: 5px;
    position: absolute;
    top: 15px;
}

.spinner-elapsed {
    font-family: 'Proxima Nova';
    font-weight: bold;
}

.spinner-image {
    position: absolute;
    top: 0;
}

#panelborder-white> :first-child:after {
    border-width: 0 0 1px 1px;
    bottom: -3px;
    left: -3px;
}

#panelborder-white> :first-child:before {
    border-width: 0 1px 1px 0;
    bottom: -3px;
    right: -3px;
}