.planet-data-panel {
    width: 100%;
}

.dropable-area {
    // border: 1px dashed white;
    height: 100vh;
}

.drag-over {
    // border: 1px dashed white;
    // height: 100vh;
    background-color: #001A00;
}

.drag-hint {
    border: 1px solid green;
}