<div cy-section-name="header" class="row section">
    <app-info-panel class="panel neocom-panel app-info-panel"></app-info-panel>
    <server-info-panel class="panel neocom-panel server-info-panel"></server-info-panel>
</div>
<div class="section panel column">
    <div class="section-title">FUNCIONALIDADES</div>
    <div class="dock row">
        <v1-feature-button [feature]="planetaryNewData"></v1-feature-button>
        <v1-feature-button [feature]="planetaryDataAnalysis"></v1-feature-button>
    </div>
</div>