<div class="panel column">
    <div class="section-title">FUNCIONALIDADES</div>
    <div class="dock row">
        <v1-feature-button [feature]="planetaryNewData"></v1-feature-button>
        <v1-feature-button [feature]="planetaryDataAnalysis"></v1-feature-button>
    </div>
</div>

<!-- <div class="row">
    <app-info-panel id="appinfo-panel" class="neocom-panel app-info-panel"></app-info-panel>
    <server-info-panel id="server-info-panel" class="neocom-panel server-info-panel"></server-info-panel>
</div> -->
<!-- <v1-feature-button [feature]="planetaryFeature"></v1-feature-button> -->

<!-- <div class="dock row">
    <div *ngFor="let feature of getActiveFeatures()">
        <v2-feature [node]="feature"></v2-feature>
    </div>
</div> -->
<div class="row">
    <!-- <v1-feature-button [feature]="blueprintListFeature"></v1-feature-button> -->
</div>