<div class="column">
    <div class="panel-title">PLANETARY RESOURCE SEARCH ENGINE</div>
    <div class="row">
        <npi-v1-known-planets-panel></npi-v1-known-planets-panel>
        <div class="separator-8"></div>
        <npi-v1-selected-planets-panel [store]="self"></npi-v1-selected-planets-panel>
        <div class="separator-8"></div>
        <npi-v1-t2-classification-panel [planets]="getSelectedPlanets()"></npi-v1-t2-classification-panel>
        <!-- <div class="column">
            <div class="panel-title">T2 RESOURCES AVAILABLE</div>
            <div *ngIf="t2Resources">
                <div *ngFor="let resource of t2Resources">
                    <npi-v1-t2-generated-resource [resource]="resource"></npi-v1-t2-generated-resource>
                </div>
            </div>
        </div> -->
        <div class="separator-8"></div>
        <div class="column">
            <div class="panel-title">T2 RESOURCES SELECTED</div>
            <div>
                <div *ngFor="let resource of selectedResources">
                    <npi-v1-t2-generated-resource [resource]="resource"></npi-v1-t2-generated-resource>
                </div>
            </div>
        </div>
    </div>
</div>