<div id="{{getUniqueId()}}" class="panel-blue" [ngClass]="{'panel-blue-selected' : node.isSelected()}" *ngIf="getVariant() === '-AVAILABLE-BLUEPRINTS-'">
    <div class="insets row">
        <img class="neocom-icon iconsize-60" src="{{getTypeIconUrl()}}">
        <div class="separator-4"></div>
        <div class="column complete">
            <div cy-name="blueprintName" class="field">
                <span cy-field-label="blueprintName" class="label">BLUEPRINT NAME</span><br>
                <span cy-field-value="blueprintName" class="blueprint-name">{{getName()}}</span>
            </div>
            <div cy-name="moduleProduced" class="field">
                <span cy-field-label="moduleProduced" class="label">MODULE PRODUCED</span><br>
                <span cy-field-value="moduleProduced" class="blueprint-name">{{getModuleName()}}</span>
            </div>
            <div cy-name="manufactureCost" class="field">
                <span cy-field-label="manufactureCost" class="label">MANUFACTURE COST</span><br>
                <span cy-field-value="manufactureCost" class="blueprint-name">1.234.654,00 ISK</span>
            </div>
        </div>
    </div>
</div>
<div class="neocom-panel panel-white" *ngIf="getVariant() != '-AVAILABLE-BLUEPRINTS-'">
    <div class="insets row">
        <img class="neocom-icon iconsize-60" src="https://image.eveonline.com/Type/12746_64.png">
        <div class="separator-4"></div>
        <div class="column complete">
            <div class="row">
                <div cy-name="systemName" class="field">
                    <span cy-field-label="systemName" class="label">BLUEPRINT NAME</span><br>
                    <span cy-field-value="systemName">Occator</span>
                </div>
                <div class="separator-4"></div>
                <div cy-name="at" class="field">
                    <span cy-field-label="at" class="label">GROUP TYPE</span><br>
                    <span cy-field-value="at">Industrial / T2</span>
                </div>
            </div>
            <div cy-name="security" class="field">
                <span cy-field-label="security" class="label">MARKET PRICE</span><br>
                <span cy-field-value="security" class="right">268M ISK</span>
            </div>
            <div cy-name="security" class="field">
                <span cy-field-label="security" class="label">MANUFACTURE PRICE</span><br>
                <span cy-field-value="security" class="right">265M ISK</span>
            </div>
        </div>
    </div>
</div>