<div (mouseenter)="mouseEnter(node)" style="position: relative;">
    <div class="row node-panel body-box" style="width: 100%;">
        <!-- BODY -->
        <!-- <div class="row body-box" > -->
        <v1-fitting-group style="flex-grow: 95;" *ngIf="node.jsonClass === 'FittingGroup'" [container]="container" [node]="node" [variant]="variant">
        </v1-fitting-group>
        <v1-fitting-build-content style="flex-grow: 95;" *ngIf="node.jsonClass === 'FittingBuildContentDao'" [container]="container" [node]="node" [variant]="variant">
        </v1-fitting-build-content>
        <!-- </div> -->
    </div>
</div>
