// #div {
//     color: black;
//     background-color: white;
// }
.login-message {
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    margin-top: 40vh;
}

.eve-login-request {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    position: fixed;
    bottom: 0;
}

.validation-message {
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}