<div id="{{getUniqueId()}}" class="column" *ngIf="getVariant() === '-BLUEPRINT-'">
    <div class="field">
        <span cy-field-label="sellStation" class="label">ESTACION</span><br>
        <span cy-field-value="sellStation" class="">{{getStationName()}}</span>
    </div>
    <div class="field">
        <span cy-field-label="sellPrice" class="label">PRICE</span><br>
        <span cy-field-value="sellPrice" class="">{{getPrice() | number:'1.2-2'}} ISK</span>
    </div>
    <div class="field">
        <span cy-field-label="hopCount" class="label">HOPS</span><br>
        <span cy-field-value="hopCount" class="">{{getDistanceHops()}} jumps - {{getHopTime()}} mins.</span>
    </div>
</div>
<!-- L O Y A L T Y -->
<div id="{{getUniqueId()}}" class="column" *ngIf="getVariant() === '-LOYALTY-'">
    <div class="field">
        <span cy-field-label="sellStation" class="label">ESTACION</span><br>
        <span cy-field-value="sellStation" class="">{{getStationName()}}</span>
    </div>
    <div class="field">
        <span cy-field-label="sellPrice" class="label">PRICE</span><br>
        <span cy-field-value="sellPrice" class="">{{getPrice() | number:'1.2-2'}} ISK</span>
    </div>
</div>