.planet-name {
    font-size: 14px;
    font-weight: 600;
}
.planet-class {
    margin-left: 4px;
    font-size: 13px;
    font-weight: 600;
    color: grey;
}
.insets{
    margin: 2px;
}.resource-name{
    font-size: 13px;
}.resource-level-width{
    margin-left:4px;
}