<!-- M I N I N G   O P E R A T I O N -->
<div id="{{ getUniqueId() }}" class="panel-yellow">
  <div class="insets row">
    <img
      class="neocom-icon iconsize-40"
      src="assets/res-sde/drawable/systems.png"
    />
    <div class="separator-4"></div>
    <div class="row">
      <div class="field">
        <span cy-field-label="date" class="label">DATE</span><br />
        <span cy-field-value="date" class="date">{{ getDate() }}</span>
      </div>
      <div><span>&nbsp;</span></div>
      <div class="field">
        <span cy-field-label="system" class="label" title="{{ getSystemId() }}"
          >SYSTEM</span
        ><br />
        <span cy-field-value="system" class="date">{{ getSystemName() }}</span>
      </div>
      <div><span>&nbsp;</span></div>
      <div class="field">
        <span cy-field-label="value" class="label">ESTIMATED VALUE</span><br />
        <span cy-field-value="value" class="value">{{
          getEstimatedValue() | iskscaled
        }}</span>
      </div>
    </div>
  </div>
  <div class="column">
    <div *ngFor="let resource of getResources()">
      <v1-stack
        *ngIf="resource.jsonClass === 'Stack'"
        [container]="container"
        [node]="resource"
        [variant]="variant"
      ></v1-stack>
    </div>
  </div>
</div>
