.section-title {
    font-size: 15px;
    font-weight: 700;
    color: gray;
    text-transform: uppercase;
    margin-bottom: 2px;
    background: #000020;
    border-bottom: 1px solid #000080;
}

.orange-hue {
    background: #201000;
    border-bottom: 1px solid #802000;
}

.label {
    font-size: 8px;
    font-weight: 100;
    text-transform: uppercase;
    margin-right: 4px;
}

.separator-4 {
    width: 4px;
}
.separator-8 {
    width: 8px;
}
