<div class="row">
    <app-info-panel id="appinfo-panel" class="neocom-panel app-info-panel"></app-info-panel>
    <server-info-panel id="server-info-panel" class="neocom-panel server-info-panel"></server-info-panel>
</div>
<div class="column">
    <div class="page-title">MANUFACTURE RESEARCH ENGINE</div>
    <div class="row">
        <v1-top-bompanel [container]="self"></v1-top-bompanel>
        <div class="separator-8"></div>
        <div class="row" *ngIf="hoveringTarget">
            <!-- <v1-target-additional-data-panel class="panel" [target]="hoveringTarget"></v1-target-additional-data-panel> -->
            <div class="separator-8"></div>
            <!-- <v1-selected-planets-panel class="panel" [store]="self"></v1-selected-planets-panel> -->
            <div class="separator-8"></div>
            <!-- <v1-output-resources-panel class="panel" [store]="self"></v1-output-resources-panel> -->
            <div class="separator-8"></div>
            <!-- <v1-selected-resources-panel class="panel" [store]="self"></v1-selected-resources-panel> -->
        </div>
    </div>
</div>