<div class="neocom-panel panel-white server-info-panel">
    <div *ngIf="serverInfo else loading">
        <div class="row">
            <div class="field" style="flex-grow: 1;">
                <span cy-field-value="serverName" class="server-name">{{getServerName() | titlecase}}</span>
            </div>
            <div class="field" style="flex-grow: 1;">
                <span cy-field-value="serverStatus" class="server-status">{{getServerStatus()}}</span>
            </div>
        </div>
        <div class="field">
            <span class="label">Capsuleers:</span>
            <span cy-field-value="capsuleers" class="server-capsuleers">{{getServerCapsuleers() | number:'3.0-0'}}</span>
        </div>
        <div class="row">
            <div class="field" style="flex-grow: 1;">
                <span class="label">Backend Version:</span>
                <span cy-field-value="backendVersion" class="">{{getBackendVersion()}}</span>
            </div>
            <div class="field">
                <span class="label">SDE Version:</span>
                <span cy-field-value="backendVersion" class="">{{getSDEversion()}}</span>
            </div>
        </div>
        <div class="field">
            <span cy-field-value="nextDowntime" class="server-nextdowntime">{{getNextDowntime()}}</span>
        </div>
    </div>
    <ng-template #loading>
        <div class="preparing-message">
            DESCARGANDO...
        </div>
    </ng-template>
</div>